$myWidth: 1190px;
$barHeight: 370px;

main {
    &#projects {
        margin: auto;
        width: 100%;
        h1 {
            text-align: center;
        }
        .pics {
            //display: flex;
            position: relative;
            align-items: center;
            height: 100%;
            width: 100%;

            //resize: both;
            //overflow: auto;

            
            .pic {
                position: relative;
                z-index: 5;
                align-items: center;
                h1 {
                    width: 100%;
                    height: 100%;
                    margin: 10% auto; 
                    color: white;
                    position: absolute;
                    z-index: 20;
                    font-size: 300%;
                    text-align: center;
                    text-overflow: clip;
                    overflow: hidden;
                    visibility: hidden;
                }   

                .overlay {
                    width: 100%;
                    height: 100%;
                }

                .over-link {
                    position: absolute;
                    width: 100%;
                    height: 100%
                }
            }
            .pic:hover.pic:hover.pic:hover {
                .overlay {
                    position: absolute;
                    background:rgba(68, 68, 68, 0.6);
                }
                transition: ease-in 0.2s;
                h1 {
                    visibility: visible;
                }
            }
            .dim {
                .overlay {
                    position: absolute;
                    background:rgba(68, 68, 68, 0.95);
                }
                transition: ease-in 0.2s;
                h1 {
                    visibility: hidden;
                }
                @include fade;
            }
            .lit {
                .overlay {
                    position: absolute;
                    background:rgba(68, 68, 68, 0);
                }
                transition: ease-in 0.2s;
                h1 {
                    visibility: hidden;
                }
                @include fade;
            }

            .upper {
                display: grid;
                width: $myWidth;
                grid-template-areas: 'blu gren redd';
                grid-template-columns: 1fr 1fr 1fr;
                z-index: 20;

                .pic {
                    width: 300px;
                    height: 200px;
                    margin-right: 20px;
                    margin-bottom: 20px;

                    &.mobile {
                        .overlay {
                            position: absolute;
                            background:rgba(68, 68, 68, 0.6);
                        }
                        transition: ease-in 0.2s;
                        h1 {
                            visibility: visible;
                        }
                    }
                }

                .frontend {
                    grid-area: blu;
                    content: '';
                    background: url('/assets/frontend.png');
                }

                .auto {
                    grid-area: redd;
                    content: '';
                    background: url('/assets/rest.png');
                    justify-content: center;
                }

                
                .backend {
                    grid-area: gren;
                    //float: left;
                    content: '';
                    background: url('/assets/backend.png');
                }
                
            }
            .wrapper {
                position: relative;
                z-index: 3;
                display: grid;
                width: 100%;

                .lower {
                    display: grid;
                    position: absolute;
                    width: $myWidth;
                    grid-template-areas: 'fire yell oof';
                    grid-template-columns: 1fr 1fr 1fr;

                    transform: translate3d(0, 0, 0);
                    //position: absolute;
                    z-index: 20;

                    .pic {
                        width: 300px;
                        height: 200px;
                        margin-right: 20px;
                        margin-bottom: 20px;
    
                        &.mobile {
                            .overlay {
                                position: absolute;
                                background:rgba(68, 68, 68, 0.6);
                            }
                            transition: ease-in 0.2s;
                            h1 {
                                visibility: visible;
                            }
                        }
                    }

                    @include fade;

                    * {
                        width: 300px;
                        height: 200px;
                        margin-right: 20px;
                    }

                    &.active {
                        content: '';
                        transform: translate3d(0, ($barHeight + 20px), 0);
                    }

                    .firework {
                        grid-area: fire;
                        //float: left;
                        content: '';
                        background: url('/assets/fireworks.png');
                    }

                    .frequency {
                        grid-area: yell;
                        content: '';
                        background: url('/assets/ard.png');
                    }

                    .path {
                        grid-area: oof;
                        content: '';
                        background: url('/assets/path.png');
                    }
                }

                .bars {
                    display: grid;
                    position: absolute;
                    width: 100%;
                    height: $barHeight;
                    
                    visibility: hidden;
                    transform: translate3d(0, ($barHeight + 20px), 0);
                    @include fadE;
                    z-index: 5;

                    .top {
                        z-index: 10;
                        .text {
                            visibility: inherit;
                        }
                    }

                    .bar {
                        position: absolute;
                        display: grid;
                        width: 1190px;
                        height: $barHeight;
                        grid-template-areas: 'img txt';
                        grid-template-columns: 1fr 1fr;

                        
                    }

                    .text {
                        grid-area: txt;
                        text-align: left;
                        content: '';
                        position: relative;
                        padding-left: 30px;
                        width: 500px;
                        float: right;
                        //padding-right: 50px;
                        //z-index: inherit + 1;
                        visibility: hidden;

                        color: white;
                        

                        a {
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                        }
                        
                    }
                    

                    .img {
                        grid-area: img;
                        content: '';
                        position: absolute;
                        height: $barHeight;
                        width: 650px;
                        max-width: 100%;
                        max-height: 100%;

                        &:after {
                            content: '';
                            position: absolute;

                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;

                            background: linear-gradient(to left, rgba(68, 68, 68, 1) 0%, rgba(68, 68, 68, 0.3) 49%, rgba(255, 255, 255, 0) 100%);
                        }
                    }

                    .firework {
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                        .img {
                            background-image: url('/assets/fireworks_detailed.png');
                        }    
                    }

                    .frontend {
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                        .img {
                            background-image: url('/assets/jscode.png');
                        }    
                    }

                    .backend {
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                        .img {
                            background-image: url('/assets/node.png');
                        }    
                    }

                    .path {
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                        .img {
                            background-image: url('/assets/gref.png');
                        }    
                    }

                    .auto {
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                        .img {
                            background-image: url('/assets/books.png');
                        }    
                    }

                    .frequency {
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                        //visibility: hidden;
                        .img {
                            background-image: url('/assets/ardui.png');
                        } 
                        &:before {
                            content: '';
                            position: absolute;

                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;

                            background-color: $primary-color;
                        }   
                    }

                    &.active {
                        visibility: visible;
                        transform: translate3d(0, 0, 0);
                        @include fadE;
                    }
                }

                &.transitioning {
                    .bars {
                        visibility: hidden;
                        transform: translate3d(0, 200px, 0);
                    }
                    .lower {
                        transform: translate3d(0, 0, 0);
                    }
                }

            }
        }

        .bars {

        }

        
    }
}