@import 'config';
@import 'menu';
@import 'mobile';
@import 'projects';
@import 'contact';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Raleway', 'sans-serif';
    line-height: 1.5;
}

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 0rem;
        background: rgba(lighten($primary-color, 2), 0);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 30;
    width: 100%;
}

.second-text {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;
            @include fade;
            &:hover {
                color: $secondary-color;
            }
        }
    }

    .name {
        margin-top: 15vh;
    }
    
    &.night {
        $primary-color: #444;
    }

    &.day {
        $primary-color: #fff;
    }

    &#home {
        overflow:hidden;
        h1 {
            margin-top: 20vh;
        }
    }

    .info {
        position: relative;
        visibility: hidden;
        .show {
            visibility: visible;
        }
        * {
            position: absolute;
        }
    }

    .prac {
        padding-top: 1em;
    }
}

.about-info {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    'bio-img bio bio'
    'skills-group skills-group skills-group';
    grid-template-columns: repeat(3, 1fr);
}

.bio-img {
    grid-area: bio-img;
    margin: auto;
    border-radius: 50%;
    border: 3px $secondary-color solid;
}

.bio {
    grid-area: bio;
    font-size: 1.5rem;
}

$skill-bg: rgb(31, 46, 45);

.skills-group {
    grid-area: skills-group;
    display: grid;
    grid-template-areas: '. skills_h .'
                         'general . lvl'
                         'suba . lvl'
                         '. . lvl';

    grid-template-columns: repeat(3, 1fr);

    // box look
    .box {
        @include border-radius(5px);
        position: relative;
        padding: 10px 10px 10px 10px;
        background: $skill-bg;
        
        margin: 5px;
        border: 1px $secondary-color solid;
        cursor: pointer;

        &.head {
            background: darken($skill-bg, 10);
            border: 2px $secondary-color solid;
        }

        &.selected {
            @include aboutTrans;
            background: $secondary-color;
        }
    }

    // Grid sass
    .skills_h {
        grid-area: skills_h;
        text-align: center;
    }

    .general {
        grid-area: general;
        display: grid;
        grid-template-areas: 'call backend frontend nw';
        grid-template-columns: 1fr 1fr 1fr;

        .nw {grid-area: nw; .box{white-space: nowrap; overflow: hidden;}}
        .backend {grid-area: backend;}
        .frontend {grid-area: frontend;}
        .all {grid-area: call;}
    }

    .sub {
        grid-area: suba;
        display: grid;
        grid-template-areas: 'sql node html cpp java'
                             'expr mongo sass jasc py';
        
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        .sql {grid-area:sql};
        .sass {grid-area: sass;}
        .express {grid-area: expr;}
        .python {grid-area: py;}
        .cpp {grid-area: cpp;}
        .javasc {grid-area: jasc;}
        .java {grid-area: java;}
        .mongo {grid-area: mongo;}
        .node {grid-area: node;}
        .html {grid-area: html;}
        // Transitioning sass
        .hidden {
            transform: translate(-200%, 0);
            z-index: -3;
            visibility: hidden;
            transition: all 0.05s ease;
        }

        .show {
            z-index: 1;
            transition: all 0.25s ease-out;
            transform: translate(0, 0);
        }
    }

    .lvl {
        grid-area: lvl;
        grid-template-areas: 'title . .'
                             '. bars .'
                             '. subh .'
                             'subt subt subt';
        
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);


        &.show {
            visibility: visible;
            transition: all 0.25s ease-out;
            //transform: translate(0, 0);
        }

        &.hidden {
            visibility: hidden;
            transition: all 0.25s;
            //transform: translate(200%, 0);           
        }

        .title {grid-area: title; text-align: center;}

        .bars {
            grid-area: bars;
            display: flex;
            position: relative;
            justify-content: center;
            padding-top: 10px;
            //left: 100%;
            
            .bar {
                
                width: 40px;
                height: 15px;
                margin: 0 5px 0px 5px;

                background: darken(#444, 3);
                
                &.lit {
                    &:nth-child(1) {
                        transition: 0.1s 0s;
                    }
                    &:nth-child(2) {
                        transition: 0.1s 0.1s;
                    }
                    &:nth-child(3) {
                        transition: 0.1s 0.2s;
                    }
                    &:nth-child(4) {
                        transition: 0.1s 0.3s;
                    }
                    &:nth-child(5) {
                        transition: 0.1s 0.4s;
                    }

                    background: #fff;
                }

                &:nth-child(1) {
                    transition: 0.1s 0.4s;
                }
                &:nth-child(2) {
                    transition: 0.1s 0.3s;
                }
                &:nth-child(3) {
                    transition: 0.1s 0.2s;
                }
                &:nth-child(4) {
                    transition: 0.1s 0.1s;
                }
                &:nth-child(5) {
                    transition: 0.1s 0s;
                }
                background: darken(#444, 3);
            }

            .edge {
                &.l {
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }

                &.r {
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }

        }

        .subh {grid-area: subh;}

        .subt {grid-area: subt;}

    }
}
